@import './_reset.scss';
@import './_var.scss';
@import './adaptiv.scss';


.owl-carousel .owl-nav, 
.owl-carousel .owl-dots {
	position: absolute;
	top: 90%;
	left: 50%;
}
.owl-carousel .owl-dots {
	top: 87%;
	left: 50.5%
}
.owl-theme .owl-dots .owl-dot span {
	margin: 5px 8px;
	width: 15px;
    height: 15px;
}
.wrapper {
	margin: 0 auto;
	min-width: 980px;
	width: 980px;
}
#section_1 {
	background: url('http://livedemo00.template-help.com/drupal_55960/sites/default/files/parallax-1.jpg') 50% 0 no-repeat fixed;
	height: 850px;
	margin: 0;
	text-align: center;
	padding-top: 50px;

	h2 {
		margin: 0;
		color: #fff;
		font-size: 40px;
	}

	.filters-button-group {
		margin-top: 20px;
		display: flex;
		justify-content: center;

		.button {
			cursor: pointer;
			margin: 0 0 4px 4px;
			padding: 15px 20px;
		    border: none;
		    background: #2d3741;
		    font-weight: 300;
		    font-size: 14px;
		    line-height: 1.2em;
		    color: #fff;
		    text-transform: uppercase;
		    &:focus {
		    	outline: none;
		    }
		}

		.is-checked, .button:hover {
			background: #fff;
    		color: #9b9b9b;
		}
	}
	
	.grid {

		.item {
			display: inline-block;
			width: 28%;
			height: 130px;
			margin: 15px;
			padding: 30px 10px;
			background: rgba(25,29,43,0.8);
			color: #fff;
		}
	}	
}
#section_2 {
	min-height: 400px;
	margin: 0;
	background: transparent;
}
#section_3 {
	background: url('http://livedemo00.template-help.com/drupal_55960/sites/default/files/parallax-3-1.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	margin: 0;
}
#section_4 {
	height: 500px;
	margin: 0;
	background: transparent;
}
#section_5 {
	background: url('http://livedemo00.template-help.com/drupal_55960/sites/default/files/parallax-5.jpg') 50% 0 no-repeat fixed;
	height: 800px;
	margin: 0;
}		
#section_6 {
	height: 400px;
	margin: 0;
	background: transparent;
}
#section_7 {
	background: url('http://static.livedemo00.template-help.com/drupal_55960/sites/all/themes/theme1032/images/main-bg.jpg') 50% no-repeat scroll;
	height: 800px;
	margin: 0;
}
#section_8 {
	height: 400px;
	margin: 0;
	background: transparent;
}
#section_9 {
	background: url('http://livedemo00.template-help.com/drupal_55960/sites/default/files/parallax-8.jpg') 50% 100% no-repeat fixed;
	height: 800px;
	margin: 0;
}
.currency {
	/*background: url('../static/img/parallax-1.jpg') 50% 0 no-repeat fixed;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	

	.currency_block {
		@extend .curr_block;
		width: 10%;
	}
}

