@import './_reset.scss';
@import './_var.scss';
@import './adaptiv.scss';

@font-face {
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	src: url('../../static/fonts/Exo-Bold.ttf');
}
@font-face {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	src: url('../../static/fonts/RobotoSlab-Regular.ttf');
}
@font-face {
	font-family: 'Marck Script', cursive;
	font-weight: 400;
	src: url('../../static/fonts/MarckScript-Regular.ttf');
}
.wrapper {
	margin: 0 auto;
	min-width: 623px;
	max-width: 960px;
}
	
.header {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #191d2b;

	.menu {
		height: 90px;
		background-color: #191d2b;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.logo{
			flex-basis: 30%;

			img {
				width: 90px;
			}
		}
		.nav {
			display: none;
				}
		.nav_mini {
			display: block;
			cursor: pointer;
			color: #9b9b9b;
			font-size: 30px;
			margin-right: 50px;
			&:hover {
				color: #5dd7d4;
				transition: all 0.6s ease;
			}
		}
		.sidebar {
			display: block;
			position: fixed;
			top: 90px;
			right: -150px;
			transition: right 0.6s ease-out 0.3s;

			ul {
				list-style: none;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				background-color: #191d2b;

				li {
					font-family: 'Roboto Slab', serif;
					width: 150px;
					height: 40px;
					border-bottom: 1px solid #9b9b9b;
					display: flex;
					justify-content: space-around;
					align-items: center;

					a {
						text-align: center;
						cursor: pointer;
						text-decoration: none;
						color: #9b9b9b;
						font-size: 15px;
						font-weight: 400;
						text-transform: uppercase;
						&:hover {
							color: #5dd7d4;
							transition: all 0.6s ease;
						}
					}
				}
			}
		}
		.activ {
			display: block;
			right: 0;
		}
	}
}
.f-nav {
		z-index: 9999;
		transition: all 0.4s ease; 
		position: fixed; 
		left: 0; 
		top: 0; 
		width: 100%;

}
#section_1 {
	background-color: #191d2b;
	margin-top: 90px;

	.owl-theme .owl-dots .owl-dot span {
		margin: 5px 8px;
		width: 10px;
		height: 10px;
	}
	.slider_filling {
		text-align: center;

		h2 {
			font-family: 'Exo', sans-serif;
			font-size: 28px;
			margin: 10px;
			color: #fff;
			&:hover {
				color: #5dd7d4;
				transition: all 0.6s ease;
			}	
		}
		p {
			font-family: 'Exo', sans-serif;
			color: #5dd7d4;
			line-height: 1.2em;
			margin: 10px;
			font-weight: 300;
			font-size: 20px;
		}
	}
}
#section_2 {
	background: url('http://livedemo00.template-help.com/drupal_55960/sites/default/files/parallax-1.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;

	.introduction {
		width: 100%;
		padding: 30px 20px;
		background: rgba(25,29,43,0.6);
		color: #fff;
		border-radius: 15px;
		box-sizing: border-box;

		p {
			font-family: 'Marck Script', cursive;
			text-align: justify;
			text-indent: 1.2em;

			span {
				color: #5dd7d4;
				font-weight: 300;
				text-decoration: underline;
			}
		}
	}
}
#section_3 {
	padding-top: 100px;
	min-height: 300px;
	margin: 0;
	background: transparent;
	text-align: center;
	color: #fff;
	line-height: 2em;
	
	h2 {
		font-family: 'Exo', sans-serif;
		font-size: 28px;
	}
	p {
		font-family: 'Exo', sans-serif;
		font-size: 20px;
		font-weight: 300;

		a {
			text-decoration: none;
			color: red;
		}
	}
}
#section_4 {
	background: url('http://livedemo00.template-help.com/drupal_55960/sites/default/files/parallax-3-1.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 380px;
	display: flex;
	justify-content: center;
	align-items: center;

	#programmingChart {
		width: 50%;
		height: 50%;
	}
}
#section_5 {
	padding-top: 80px;
	min-height: 200px;
	margin: 0;
	background: transparent;
	text-align: center;
	color: #fff;
	line-height: 2em;
	
	h2 {
		font-family: 'Exo', sans-serif;
		font-size: 28px;
	}
	p {
		font-family: 'Exo', sans-serif;
		font-size: 20px;
		font-weight: 300;

		a {
			text-decoration: none;
			color: red;
		}
	}
}
#section_6 {
	font-family: 'Roboto Slab', serif;
	background: url('http://livedemo00.template-help.com/drupal_55960/sites/default/files/parallax-5.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 850px;
	text-align: center;
	padding-top: 50px;

	.filters-button-group {
		margin-top: 20px;
		display: flex;
		justify-content: center;

		.button {
			cursor: pointer;
			margin: 0 0 4px 4px;
			padding: 15px 20px;
		    border: none;
		    background: #2d3741;
		    font-weight: 300;
		    font-size: 14px;
		    line-height: 1.2em;
		    color: #fff;
		    text-transform: uppercase;
		    &:focus {
		    	outline: none;
		    }
		}
	}
		.is-checked, .button:hover {
			background: #fff;
    		color: #9b9b9b;
		}
	.grid {
		width: 100%;

		.item {
			display: inline-block;
			width: 28%;
			height: 130px;
			margin: 5px;
			padding: 30px 10px;
			background: rgba(25,29,43,0.8);
			color: #fff;
		}
	}
}		
#section_7 {
	padding-top: 80px;
	min-height: 200px;
	background: transparent;
	text-align: center;
	color: #fff;
	line-height: 2em;
	
	h2 {
		font-family: 'Exo', sans-serif;
		font-size: 28px;
	}
	p {
		font-family: 'Exo', sans-serif;
		font-size: 20px;
		font-weight: 300;

		a {
			text-decoration: none;
			color: red;
		}
	}
}
#section_8 {
	background: url('http://static.livedemo00.template-help.com/drupal_55960/sites/all/themes/theme1032/images/main-bg.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 900px;
	padding-top: 50px;
	
	.currency {
		margin-bottom: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;	
				
		.currency_block {
			text-align: center;
			background: rgba(25,29,43,0.6);
			border-radius: 15px;
			box-sizing: border-box;
			color: #fff;
			padding:10px 10px; 
			width: 40%;
			margin: 10px 0px;
			font-family: 'Roboto Slab', serif;

			p {
				font-size: 14px;
			}
		}
	}
	.for_input {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background: rgba(25,29,43,0.6);
		color: #fff;
		border-radius: 15px;
		box-sizing: border-box;
		padding: 30px 20px;
		font-family: 'Roboto Slab', serif;
		font-size: 16px;
		text-align: center;

		#my_conv, #custom_conv {
			text-align: center;
			background-color: #191d2b;
			border: 2px solid #fff;
			color: #fff;
			width: 250px;
			height: 30px;
			font-family: 'Roboto Slab', serif;
			font-size: 18px;
			&:focus {
				outline: none;
			}
			&::selection {
				background-color: #fff;
				color: #000;
			}	
		}
		.curr_radio {
			margin: 70px 0;
			display: flex;
			justify-content: space-around;
			align-items: center;

			@keyframes click-wave {
				0% {
					height: 40px;
					width: 40px;
					opacity: 0.35;
					position: relative;
				}
				100% {
					height: 200px;
					width: 200px;
					margin-left: -80px;
					margin-top: -80px;
					opacity: 0;
				}
			}
			label {
				cursor: pointer;
				width: 120px;
			}
			input {
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				-o-appearance: none;
				appearance: none;
				position: relative;
				top: 13.33333px;
				right: 0;
				bottom: 0;
				left: 0;
				height: 40px;
				width: 40px;
				transition: all 0.15s ease-out 0s;
				background: #cbd1d8;
				border: none;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				margin-right: 0.5rem;
				outline: none;
				position: relative;
				z-index: 1000;
				border-radius: 50%;
				&::after {
					border-radius: 50%;
				}
				&:hover {
					background: #9faab7;
				}
				&:checked {
					background: #40e0d0;
				}
				&:checked::before {
					height: 40px;
					width: 40px;
					position: absolute;
					content: '✔';
					display: inline-block;
					font-size: 26.66667px;
					text-align: center;
					line-height: 40px;
				}
				&:checked::after {
					-webkit-animation: click-wave 0.65s;
					-moz-animation: click-wave 0.65s;
					animation: click-wave 0.65s;
					background: #40e0d0;
					content: '';
					display: block;
					position: relative;
					z-index: 100;
				}
			}
		}	
	}	
}
#section_9 {
	height: 400px;
	background: transparent;
}
#section_10 {
	background: url('http://livedemo00.template-help.com/drupal_55960/sites/default/files/parallax-8.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 800px;
}


